.card {
    border-radius: 15px;
    background-color: #D5D5D5;
    width: 100px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    height: 130px;
}

.card img {
    border-radius: 50%;
    max-width: 35px;
}

.card .login {
    text-overflow: ellipsis;
}

.card button {
    background-color: #00A1FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card input {
    max-width: 20px;
}

.card-header {
    display: flex;
    gap: 13px;
}